C 0 0 "MPP" 0 0 0 0 60 0 L
X "PIN_TEXT" "MPP" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "MPP-SET" 0 -100 0 0 60 0 L
X "PIN_TEXT" "MPP-SET" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "MPP-REF" 0 -200 0 0 60 0 L
X "PIN_TEXT" "MPP-REF" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "GND" 0 -300 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "LDO1_EN" 0 -400 0 0 60 0 L
X "PIN_TEXT" "LDO1_EN" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 400 -1300 "LDO2_EN" 400 -1300 0 0 60 0 L
X "PIN_TEXT" "LDO2_EN" 430 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1100 400 -1300 -1 0
C 500 -1300 "BATT_CHG*" 500 -1300 0 0 60 0 L
X "PIN_TEXT" "BATT_CHG*" 530 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1100 500 -1300 -1 0
C 600 -1300 "BATT_CONN*" 600 -1300 0 0 60 0 L
X "PIN_TEXT" "BATT_CONN*" 630 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1100 600 -1300 -1 0
C 700 -1300 "EOC" 700 -1300 0 0 60 0 L
X "PIN_TEXT" "EOC" 730 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1100 700 -1300 -1 0
C 800 -1300 "UVP" 800 -1300 0 0 60 0 L
X "PIN_TEXT" "UVP" 830 -1070 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1100 800 -1300 -1 0
C 1300 0 "STORE" 1300 0 0 0 60 0 R
X "PIN_TEXT" "STORE" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "BATT" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "BATT" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "CONF" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "CONF" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "LDO2" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "LDO2" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "LDO1" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "LDO1" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 400 700 "EPAD" 400 700 0 0 60 0 R
X "PIN_TEXT" "EPAD" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "IN_HV" 500 700 0 0 60 0 R
X "PIN_TEXT" "IN_HV" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "L_HV" 600 700 0 0 60 0 R
X "PIN_TEXT" "L_HV" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "PGND" 700 700 0 0 60 0 R
X "PIN_TEXT" "PGND" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "NC" 800 700 0 0 60 0 R
X "PIN_TEXT" "NC" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
C 900 700 "IN_LV" 900 700 0 0 60 0 R
X "PIN_TEXT" "IN_LV" 930 470 90 0.00 60 0 0 2 0 0 1 0 74
L 900 500 900 700 -1 0
L 200 500 1100 500 -1 0
L 1100 -1100 1100 500 -1 0
L 1100 -1100 200 -1100 -1 0
L 200 500 200 -1100 -1 0
P "$LOCATION" "?" 1150 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

